{% extends 'base.html.twig' %}

{% block body %}
    <div id='myChart'></div>
    <div id='myChart2'></div>

    <script type="text/javascript" src="{{ asset('bundles/app/js/DashboardChart.js') }}"></script>
{% endblock %}
